/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  background-color: #EDEFED;
}

/*jumbotron AND video */

.jumbotron {
  z-index:-101;
  height: 450px;
  margin: 0 auto !important;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  border-bottom: 5px solid #EDEFED;
}

.hero-heading {
  color: #FFF !important;
  font-size: 12em !important;
  text-shadow: 1px 1px 1px #080000;
  text-align: center;
  display: block;
  font-family: 'Exo 2', sans-serif;
}

.hero-sub {
  font-family: 'Pacifico', cursive;
  color: #fff;
  text-align: center;
  display: block;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px black;
}

#video1 { 
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: -100;
}


/*search bar*/
.logo-left {
  float: left;
  font-size: 28px;
  color: #2f4f4f;
  margin: 5px -60px;
}

.logo-left:hover {
  color: #FFAAAA;
  transition: 1s;
}



.container {
  width: 85%;
}

#sticker {
  top: 375px;
  position: absolute;
  width: 100%;
  margin: -10px 0 0 0;
  z-index: 100;
}

#sticker_results {
  top: 0;
  left: 0;
  position: static;
  z-index: 100;
  width: 100%;
}

.search {
  background-color: rgba(0,0,0,0.5);
  height: 80px;
  display: block;
  position: absolute;
  width: 100%;
  padding: 1.5em 0 0 7.5em;
}

.search2 {
  background-color: #FFFFFE;
  box-shadow: 2px 2px #FFEFF7;
  height: 80px;
  display: block;
  position: absolute;
  width: 100%;
  padding: 1.5em 0 0 7.5em;
}


.search-link a{
  text-decoration: none;
}

.search-link a:hover {
  text-decoration: none;
}

input {
  border-radius: 0% !important;
  height: 40px !important;
  position: relative; 
  z-index: 1;
}

.input-group-addon {
  border-radius: 0%;
}

#submit {
  background-color: #ff5a5f !important;
  border: none;
  border-radius: 0%;
  width: 8em;
  height: 40px;
  position: relative; 
  z-index: 1;
}

#submit:hover {
  background-color: #FF5A6F !important;
  transition: 1s;
}

.top_space {
  margin-top: 100px;

}

/*row*/
.top-cities{
  color: #565A5C;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  padding-top: 20px;
}

.top-cities-sub{
  color: #565A5C;
  font-weight: 900;
  font-size: 14px;
  text-align: center;
}

img {
  padding: 8px;
  width: 100%;
  height: 350px;
}

img:hover{
  opacity: 0.4;
  filter: alpha(opacity=40);
  transition: 1s;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

/*footer*/
.footer {
  height: 160px;
  background:url('/images/footer.png');
}

.footer h4{
  color: #fff !important;
  text-align: center;
  font-size: 15px;
}

.footer a{
  color: #fff;
}

.footer a:hover{
  color: #FFAAAA;
}

.social-media {
  text-align: center;
}

.social-media li {
  list-style: none;
  display: inline;
  text-align: center;
  padding: 8px;
}

.hr-footer {
  width: 25%;
}

.ui-autocomplete { 
  height: auto; 
  max-height: 200px;
  overflow-y: hidden; 
  overflow-x: hidden;}

/*google map*/
#wn2 {
  height: 430px !important;
  display: block;
  margin-top: 100px;
  /*z-index: 1000;*/
  position: relative;
  }

.infowindow-markup {
  z-index: 1000;
  position: relative;
}

/*responsive layout*/

@media screen and (max-width: 480px) {
    .hero-heading {
      font-size: 5em !important;
    }
    input {
      display: hidden !important;
      text-align: center;
    }
/*hide date bar on mobile*/

    img {
      height: 250px;
      width: 100%;
    }
}

/*WEATHER*/
.weather div{
  display: inline-block;
  position: relative;
}

.avg-high {
  color: red;
}

.avg-low {
  color: blue;
}

.avg-precipitation {
  color: #669999;
}

.avg-humidity {
  color: #7A9F35;
}

table {
  border-collapse: collapse;
  border: none;
  z-index: -10;
}

.weather-widget td{
  font-size: 21px;
}

.when-to-visit {
  text-align :left;
}

.when-to-visit-months {
  text-align: left;
}



/*CITY*/

.line-divider {
  padding-top: 100px;
  width: 60%;
  margin: 0 auto;
}

.city-info {
}

.city-info li {
  list-style: none;
  font-size: 16px;
}

.side-header {
  font-size: 12px;
}





