<!DOCTYPE html>

<html lang="en">
<head>

  <!-- meta tags -->
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  
<!-- links -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'> -->
<!-- Latest compiled and minified CSS -->
  <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" rel="stylesheet">
  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="/stylesheets/application.css" rel="stylesheet">


<!-- scripts -->
  <script src="/javascript/es5-shim.min.js" type="text/javascript"></script>
  <script src="/javascript/es5-sham.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.3/jquery.sticky.min.js"></script>
  <script src="/javascript/application.js"></script>
  <script src="/javascript/autocomplete.js" type="text/javascript"></script>
  <script src="/javascript/WhatsNearby.js" type="text/javascript"></script>
  <script src="/javascript/googleMap.js" type="text/javascript"></script>

  <title>
  Vakanz | Your Travel Planner
  </title>
</head>

<body>
  <!-- jumbotron -->
  <!-- fix video height -->

  <div class="jumbotron">
  <div class="logo-border">
    <h1 id="hero-heading"> <span><i class="fa fa-viacoin"></i></span>akanz
    </h1>
 </div>
    <h4 class="hero-sub">Your Travel Planner</h4>
    <video autoplay="" id="video1" loop=""><source class="fullscreen-bg__video"
    src="https://a0.muscache.com/airbnb/static/host_banner_v1.mp4" type=
    "video/mp4"></video>
</div>
<header>
  <div id="sticker">
    <div class="search">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
            <div class="form-section">
              <div class="row">
                <form role="form" action="/search" method="GET">
                  <div class="col-md-8 col-sm-6 col-xs-10 no-padding">
                    <div class="form-group">
                      <!-- <label class="sr-only" for="location">Location</label> -->
                      <input class="form-control" id="location" name="location"
                        placeholder= "Where would you like to go?" type="text">
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-6 col-xs-2">
                    <button class="btn btn-default btn-primary" id="submit"
                    type="submit"> Search</a></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
    <!-- top cities -->
<br>
    <h1 class="top-cities">Top Cities</h1>
    <h4 class="top-cities-sub">Discover the top searched cities on Vakanz.</h4>
    <br>
    <br>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12 no-padding">
          <a href="/search?location=Paris%2C+France"><img src= 
          "https://nomadlist.com/assets/img/cities/paris-france-1500px.jpg" alt="" class="img_cities"><h2>Paris</h2></a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 no-padding">
          <a href="/search?location=Prague%2C+Czech+Republic"><img src=
          "https://nomadlist.com/assets/img/cities/prague-czech-republic-1500px.jpg" alt="" class="img_cities"><h2>Prague</h2></a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 no-padding">
          <a href="/search?location=Vancouver%2C+Canada"><img src= 
          "https://nomadlist.com/assets/img/cities/vancouver-canada-1500px.jpg" alt="" class="img_cities"><h2>Vancouver</h2></a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 no-padding">
          <a href="/search?location=Rio+de+Janeiro%2C+Brazil"><img src=
          "https://nomadlist.com/assets/img/cities/rio-de-janeiro-brazil-1500px.jpg" alt="" class="img_cities"><h2>Rio de Janeiro</h2></a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 no-padding">
          <a href="/search?location=Cape+Town%2C+South+Africa"><img src=
          "https://nomadlist.com/assets/img/cities/cape-town-south-africa-1500px.jpg" alt="" class="img_cities"><h2>Cape Town</h2></a>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 no-padding">
          <a href="/search?location=Lisbon%2C+Portugal"><img src=
          "https://nomadlist.com/assets/img/cities/lisbon-portugal-1500px.jpg" alt="" class="img_cities"><h2>Lisbon</h2></a>
        </div>

        <div class="col-md-8 col-sm-6 col-xs-12 no-padding">
          <a href="/search?location=Phuket%2C+Thailand"><img src=
          "https://nomadlist.com/assets/img/cities/phuket-thailand-1500px.jpg" alt="" class="img_cities"><h2>Phuket</h2></a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 no-padding">
          <a href="/search?location=Osaka%2C+Japan"><img src=
          "https://nomadlist.com/assets/img/cities/osaka-japan-1500px.jpg" alt="" class="img_cities"><h2>Osaka</h2></a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 no-padding">
          <a href="/search?location=Wellington%2C+New+Zealand"><img src=
          "https://nomadlist.com/assets/img/cities/wellington-new-zealand-1500px.jpg" alt="" class="img_cities"><h2>Wellington</h2></a>
        </div>


        <div class="col-md-4 col-sm-6 col-xs-12 no-padding">
          <a href="/search?location=Bergen%2C+Norway"><img src=
          "https://nomadlist.com/assets/img/cities/bergen-norway-1500px.jpg" alt="" class="img_cities"><h2>Bergen<h2></a>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
  <div class="footer">
  <br>
  <br>
  <ul class="social-media">
    <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
  </ul>
  <hr class="hr-footer">
  <h4>&copy; Vakanz</h4>
  </div>

</body>
</html>